<form method="post" action="{{ path('prospect_delete', {'id': prospect.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer ce prospect?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prospect.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
